# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build artifacts
build/
dist/

# dotenv environment variables file
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Other system files
.DS_Store
