/* Stock List Container */
.stock-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    max-height: calc(100vh - var(--header-height) * 2.5);
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    background-color: var(--background-muted);
    padding: 1rem;
    padding-right: 0.5rem;
}

.stock-list > h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);
    margin: 0;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
}


.stock-list__stocks {
    width: calc(100% - 6px);
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding-right: 10px;
    overflow-x: hidden;
}

.stock-list__stocks::-webkit-scrollbar {
    width: 12px;
}

.stock-list__stocks::-webkit-scrollbar-track {
    background: var(--text-muted);
    border-radius: 10px;
}

.stock-list__stocks::-webkit-scrollbar-thumb {
    background-color: var(--accent-stock);
    border-radius: 10px;
    border: 3px solid var(--text-muted);
}

.stock-list__stocks::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-stock-hover);
}

.stock-list__stock {
    padding: 1rem;
    border-top: 1px solid var(--text-muted);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

.stock-list__stock:first-child {
    border-top: none;
}

.stock-list__stock-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.stock-list__stock h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    word-break: break-word;
}

.stock-list__stock h3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    word-break: break-word;
}

.stock-list p {
    margin: 0;
}

.stock-list__intrinsic-values {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.stock-list__intrinsic__value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    padding: 0.5rem 1rem;
    background-color: var(--background-muted);
    color: var(--accent-stock);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.stock-list__intrinsic__value.pe::after {
    content: "PE";
    font-size: 0.8rem;
    color: var(--text-muted);
}

.stock-list__intrinsic__value.roe::after {
    content: "ROE";
    font-size: 0.8rem;
    color: var(--text-muted);
}

.stock-list__intrinsic__value.dcf::after {
    content: "DCF";
    font-size: 0.8rem;
    color: var(--text-muted);
}

.stock-list__stock:last-child {
    margin-bottom: 25px;
}

.stock-list__stock__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    gap: 6px;
}

.stock-list__stock__summary__icon {
    position: relative;
    display: inline-block;
    transform: scale(0.9);
    margin-top: 5px;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10000;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.stock-list__stock__summary__icon:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px) {
    .stock-list {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .stock-list {
        padding: 0.5rem;
    }
}
